.navbar {
  padding: 20px 100px;
  background: #e8efff;
}
.navbar .navbar-brand, .sidebar__heading {
  display: flex;
  /* align-items: center; */
}
.navbar .navbar-brand .school__name, .sidebar__heading .school__name {
  margin-left: 20px;
}
.navbar .navbar-brand h5, .sidebar__heading h5 {
  font-size: 24px;
  font-weight: 700;
}
.navbar .navbar-brand .school__name p, .sidebar__heading p {
  line-height: 0px;
  font-size: 14px;
}
.navbar-brand i, .sidebar__heading i {
  font-size: 40px;
}
.navbar-brand i,
.navbar-brand .school__name h5, .sidebar__heading i, .sidebar__heading h5 {
  color: #5e4fc3;
}
.navbar ul li {
  margin-right: 20px;
}
.navbar .second__layer {
  display: flex;
  margin-left: 100px;
}
.navbar .second__layer .admissions__button,
.navbar .second__layer .login__button {
  padding: 15px 30px;
  border-radius: 99px;
}
.navbar .second__layer .admissions__button {
  border: 1px solid #979697;
}
.navbar .second__layer .login__button, .navbar .second__layer .login__button:hover {
  background: #0baf61;
  color: #fff;
}
