.tab__container .form {
  margin-top: 30px;
}
.tab__container .form .subject__area,
.tab__container .class__information,
.tab__container .teachers__comments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tab__container .form .subject__area .form__area,
.tab__container .form .class__information .form__area,
.tab__container .teachers__comments .form__area {
  width: 30%;
}
.tab__container .form .form__area label {
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}
.tab__container .form .form__area input,
.tab__container .form .form__area select,
.tab__container .form .form__area textarea,
.tab__container .form__area button {
  width: 100%;
  outline: 0;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background: var(--white-color);
}
.tab__container .form .form__area textarea {
  height: 100px;
}
.tab__container .form__area button {
  margin-top: 15px;
  background-color: var(--primary-color);
  padding: 0;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
}

@media (max-width: 600px) {
    .tab__container .form .subject__area .form__area,
.tab__container .form .class__information .form__area,
.tab__container .teachers__comments .form__area {
  width: 100%;
}
}