@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #a1a0a0;
}
li {
  font-family: "Open Sans", sans-serif;
  color: #a1a0a0;
  font-size: 15px;
}
.casual__button,
.dashboard__button {
  background: #0baf61;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.casual__button {
  padding: 15px 30px;
}
.dashboard__button {
  padding: 10px 20px;
}
.dashboard__h5 {
  font-size: 17px;
}
.section__three h3,
.section__description h3,
.fourth__section h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  margin: 20px 0;
}
.auth__button {
  width: 100%;
  margin: 20px 0;
  padding: 10px 20px;
  background: #0baf61;
  border: none;
  color: #fff;
}
ul {
  margin: 0;
}
a {
  text-decoration: none;
}
.sidebar__heading,
.section__container {
  padding: 30px 20px 50px;
}

/* Dashboard Main Styles */
.section__container h3 {
  font-size: 20px;
  margin-bottom: 50px;
}
.edit__student, .delete__student {
  font-size: 12px;
  margin: 0 5px;
  cursor: pointer;
}
.edit__student {
  color: #0baf61;
}
.delete__student {
  color: rgb(109, 13, 13);
}
